@font-face{
    font-family: 'Abel';
    src: url('~/assets/Abel-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Open Sans';
    src: url('~/assets/OpenSans-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Ionicons';
    src: url('~/assets/Ionicons.ttf') format('truetype');
}

@import './normalizev5';

html {
    height: 100%;
}

body {
    height: 100%;
}

.root {
    height: 100%;
}

.fullheight {
    height: 100%;
}

@import './respgrid';

@import './spinkit';


label {
    font-family: 'Open Sans';
    font-size: 12px;
}

