@font-face{
    font-family: 'Abel';
    src: url('~/assets/Abel-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Open Sans';
    src: url('~/assets/OpenSans-Regular.ttf') format('truetype');
}